<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div style="margin: auto;">
        <h2>Register</h2>
        <form action="/add_user" method="POST">
            <input type="text" name="Username" placeholder="Username" required>
            <input type="password" name="Password" placeholder="Password" required>
            <input type="email" name="Email" placeholder="Email" required><br><br>
            <input type="radio" id="user" name="user_type" value="user">
            <label for="user">User</label>
            <input type="radio" id="Verifier" name="user_type" value="verifier" required>
            <label for="Verifier">Verifier</label>
            <input type="radio" id="Supervisor" name="user_type" value="supervisor">
            <label for="Supervisor">Supervisor</label>
            <input type="radio" id="Supervisor" name="user_type" value="health_check_team">
            <label for="Supervisor">Health Check Team</label>
            <br><br>
            <label for="Verifier_id">Verifier/Supervisor: </label>
            <input type="number" id="Verifier_id" name="Verifier_id" placeholder="Verifier/Supervisor id" required>  
            <br><br>  
            <input type="submit">
            <p style="color: red;">{{message}}</p>
        </form>
        <a href="/login">Login</a>
    </div>
    
</body>
</html>