<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case {{case.id}}</title>
    <style>
        ul{
            list-style-type: none;
        }
    </style>
    <script>
        function send_message(){
            message = document.getElementById('Message')
            content = message.innerHTML
            case_id = document.getElementsByTagName('title')[0].innerHTML.split(' ')[1]
            console.log(case_id)
            endpoint = "/send_message/" + case_id
            fetch(endpoint, {
                method: "POST",
                body: JSON.stringify({
                    Content: content
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
                }).then(()=> location.reload())
        }
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <nav class="navbar" style="background-color: #004c8f;">
        <a href="#" class="navbar-brand h3 text-white ms-2">
            <img src="/static/assets/HDFC_Bank_Logo.svg" alt="HDFC" height="30px">
        </a>
    </nav>
    <div class="row mt-2">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card p-3">
                <div class="p-1 m-0"> 
                    <h3 class="text-secondary">{{case.Comment}}</h3>
                    <p class="text-small border-bottom">Status: {{case.Status}} | User: {{case.User_id}} | Verifier: {{case.Verifier_id}}</p>
                </div>
                    {% if current_user.Role=='supervisor' %} 
                        {% if case.Status == 'Pending' %}
                        <div class="row p-3">
                            <div class="col">
                                <p class="h5 m-0 p-0">Send Messages:</h5>
                                <div id="Message" contenteditable class="bg-light mb-2 border" style="height: 80%;"></div>
                                <div class="row">
                                    <button onclick="send_message()" class="btn btn-outline-secondary">Send Message</button>
                                </div>
                            </div>
                            
                        </div>
                        {% endif %}
                        <div class="row my-2"></div>
                    {% else %}
                        {% if case.Status == 'Pending' %}
                        <div class="row">
                            <div class="col-6">
                                <p class="h5 ">Send Messages:</p>
                                <div id="Message" contenteditable class="bg-light mb-2 border" style="height: 80%;"></div>
                                <div class="row m-1">
                                    <button onclick="send_message()" class="btn btn-outline-secondary">Send Message</button>
                                </div>
                            </div>
                            <div class="col">
                                <p class="h5 m-0 p-0">Upload Documents:</h5> <br>
                                <form class="input-group" method=post action="/upload_file/{{case.id}}" enctype=multipart/form-data style="margin-top: 5px;">
                                    <input type=file class="form-control"name=file required>
                                    <input type=submit class="btn btn-outline-secondary" value=Upload>
                                </form>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row my-2"></div>
                    {% endif %}
                    <div class="row mt-5">
                        <div id="Message History" class="col-6">
                            <b class="text-secondary">Message History:</b>
                            <ul class="list-group">
                                {% for i in range(messages|length) %} 
                                <li class="list-group-item">
                                    <b>{{message_senders[i].Role}} {{message_senders[i].id}}: </b>
                                    <span>{{messages[i].Content|safe}}</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="Document History" class="col-6">
                            <b class="text-secondary">Document History:</b>
                            <ul class="list-group">
                                {% for i in range(documents|length) %} 
                                <li class="list-group-item">
                                    <b>{{document_senders[i].Role}} {{document_senders[i].id}}: </b>
                                    <a href="/download_file/{{documents[i].id}}">{{documents[i].Filename}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="row m-1 mt-3">

                        <a href="/" class="btn btn-outline-primary">Back</a>
                    </div>
                 
            </div>
        </div>
        <div class="col"></div>
    </div>
    
    </div>
</body>
</html>