<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Case {{case.id}}</title>
    <style>
        ul{
            list-style-type: none;
        }
    </style>
    <script>
        function send_message(){
            message = document.getElementById('Message')
            content = message.innerHTML
            case_id = document.getElementsByTagName('title')[0].innerHTML.split(' ')[1]
            console.log(case_id)
            endpoint = "/send_message/" + case_id
            fetch(endpoint, {
                method: "POST",
                body: JSON.stringify({
                    Content: content
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
                }).then(()=> location.reload())
        }
    </script>
</head>
<body>
    <div style="padding: 5px; border-bottom: solid 1px;">
        <b>{{case.Comment}} | Status: {{case.Status}}</b>
    </div>
    <div style="margin-top: 5px;">
        {% if current_user.Role=='supervisor' %} 
        <div style="margin-bottom: 10px;">
            User: {{case.User_id}} | Verifier: {{case.Verifier_id}}
        </div>
            {% if case.Status == 'Pending' %}
            <div style="padding:5px; border-bottom: solid 1px">
                <div id="Message" contenteditable style="border: solid 1px; margin-bottom: 5px;"></div>
                <button onclick="send_message()">Send Message</button>
            </div>
            {% endif %}
        {% else %}
            {% if case.Status == 'Pending' %}
            <div style="padding:5px; border-bottom: solid 1px">
                <div id="Message" contenteditable style="border: solid 1px; margin-bottom: 5px;"></div>
                <button onclick="send_message()">Send Message</button>
            </div>
            <div style="padding:5px;padding-bottom: 10px; border-bottom: solid 1px;">
                <b>Upload Documents:</b> <br>
                <form method=post action="/upload_file/{{case.id}}" enctype=multipart/form-data style="margin-top: 5px;">
                    <input type=file name=file required>
                    <input type=submit value=Upload>
                </form>
            </div>
            {% endif %}
        {% endif %}

        <div id="Message History">
            <b>Message History:</b>
            <ul>
                {% for i in range(messages|length) %} 
                <li style="border-bottom: solid 1px; padding: 5px">
                    <b>{{message_senders[i].Role}} {{message_senders[i].id}}: </b>
                    <span>{{messages[i].Content|safe}}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div id="Document History">
            <b>Document History:</b>
            <ul>
                {% for i in range(documents|length) %} 
                <li style="border-bottom: solid 1px; padding: 5px">
                    <b>{{document_senders[i].Role}} {{document_senders[i].id}}: </b>
                    <a href="/download_file/{{documents[i].id}}">{{documents[i].Filename}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <a href="/">Back</a>
    </div>
</body>
</html>