<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div style="margin: auto;">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <input type="text" name="Username" placeholder="Username" required>
            <input type="password" name="Password" placeholder="Password" required>
            <input type="submit">
            <p style="color: red;">{{message}}</p>
        </form>
        <a href="/add_user">Add User</a>
    </div>
    
</body>
</html>