<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Userpage</title>
</head>
<body>
    <div style="padding: 5px;">
        <b>{{current_user.Username}} | Supervisor</b>
        <p>User ID: {{current_user.id}}</p>
    </div>
    <table>
        <tr>
            <th>Case ID</th>
            <th>Comment</th>
            <th>User ID</th>
            <th>Verifier ID</th>
            <th>Status</th>
        </tr>
        {% for case in cases %}
        <tr>
            <td>{{case.id}}</td>
            <td><a href="/case/{{case.id}}">{{case.Comment}}</a></td>
            <td>{{case.User_id}}</td>
            <td>{{case.Verifier_id}}</td>
            <td>{{case.Status}}</td>
        </tr>
        {% endfor %}
    </table>
    
    <a href="/logout">Logout</a>
</body>
</html>